.hero {
  background-image: url('/images/heros/home.png');
  background-size: cover;
  background-position: center center;


    &__image {
      max-width: 500px;
      margin-top: 10rem;
    }   

}

