.hero {
  padding-top: 115px;
  background-image: url('/images/heros/home.png');
  background-size: cover;
  background-position: center center;
  height: 800px;

    &__title {
      color: #fff;
      font-size: 3.4rem;
      line-height: 135%;
    }

    &__image {
      max-width: 400px;

    }   

}

