.nav {

  &__logo-wrap {
    width: 80px;
    display: block;

    &--scrolled {
      width: 65px;
      @apply transition-all;
    }

  }

  &__logo-wrap-fixed-width {
    width: 80px;
    height: 100%;
    margin-right: 3rem;
  }

}