
// shopify buy button
iframe[name="frame-product-9270065358"] {
  height: 62px !important;
  @media (min-width: 1024px) {
    height: 72px !important;
  }
}

.buy-button-wrap {
  max-width: 140px;
  @media (min-width: 1024px) {
    max-width: 169px;
  }
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.hamburger-icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon::before {
  transform: translateY(-8px);
}

.hamburger-icon::after {
  transform: translateY(8px);
}
