
// shopify buy button
iframe[name="frame-product-9270065358"] {
  height: 51px !important;
}

.buy-button-wrap {
  max-width: 151px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}