// custom sass
@import "shared/variables";
@import "shared/nav";
@import "shared/utils";
@import "components/buttons";
@import "components/overrides";
@import "components/tabs";

//tailwind css
@tailwind base;
@tailwind components;
@tailwind utilities;

//tailwind customizations 
@layer base {

  h2 {
    @apply text-2xl;
    @apply md:text-4xl;
    @apply leading-snug;
  }
  h4 {
    @apply tracking-wide;
  }
  section {
    @apply sm:py-32;
    @apply py-20;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }


